= {{{basics.name}}}
Email: {{{basics.email}}} | GitHub: {{#basics.profiles}}{{#github}}{{{url}}}{{/github}}{{/basics.profiles}} | LinkedIn: {{#basics.profiles}}{{#linkedin}}{{{url}}}{{/linkedin}}{{/basics.profiles}} | Location: {{{basics.location.city}}}, {{{basics.location.country}}}
Phone: {{{basics.phone}}}

== Professional Summary

{{{basics.summary}}}

== Professional Experience

{{#work}}
=== {{{company}}}
*{{{position}}}*
_{{formatDate startDate}} - {{formatDate endDate}}_

{{#highlights}}
- {{{.}}}
{{/highlights}}

{{/work}}

== Projects

{{#projects}}
=== {{{title}}}
*Status:* {{{status}}}

*Type:* {{{type}}}

{{#if link}}*Site:* {{{link}}}{{else if repoLink}}*Repository:* {{{repoLink}}}{{/if}}

*Description:* 

{{{description}}}

{{#highlights}}
- {{{.}}}
{{/highlights}}

{{/projects}}

== Technical Skills

{{#skills}}
**{{{name}}}:** {{#keywords}}{{{.}}}{{^@last}}, {{/@last}}{{#@last}}.{{/@last}}{{/keywords}}

{{/skills}}

== Education

{{#education}}
**{{{studyType}}} in {{{area}}}**
{{{institution}}}
{{/education}}
