= {{{basics.name}}}

[%hardbreaks]
Email: {{{basics.email}}} | Phone: {{{basics.phone}}} | Location: {{{basics.location.city}}}, {{{basics.location.country}}}
{{#basics.profiles}}{{{network}}}: {{{url}}}{{#unless @last}} | {{/unless}}{{/basics.profiles}}

== Professional Summary

{{{basics.summary}}}

== Professional Experience

{{#work}}
=== {{companyLabel this}}
*{{{position}}}*
_{{formatDate startDate}} - {{formatDate endDate}}_

{{{summary}}}

{{#highlights}}
- {{{.}}}
{{/highlights}}

{{/work}}

== Technical Skills

{{#skills}}
**{{{name}}}:** {{#keywords}}{{{.}}}{{^@last}}, {{/@last}}{{#@last}}.{{/@last}}{{/keywords}}

{{/skills}}

== Education

{{#education}}
**{{{studyType}}} in {{{area}}}**
{{{institution}}}
{{/education}}

== Projects

{{#projects}}
=== {{{title}}}
*Status:* {{{status}}}

*Type:* {{{type}}}

{{#if link}}*Site:* {{{link}}}{{else if repoLink}}*Repository:* {{{repoLink}}}{{/if}}

*Description:* 

{{{description}}}

{{#highlights}}
- {{{.}}}
{{/highlights}}

{{/projects}}
